.erhvervsliste {
/*  width: 48%; */
  box-shadow: 0px 0px 10px -5px #000;
  height: 300px;
  position: relative;
  margin: 5px;
  box-sizing: border-box;
/*  float: left; */
  border: 1px solid #eee;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;  
  -ms-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

.erhvervsliste:hover {
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
}

.erhvervsliste-kontakt {
  padding: 10px 5px;
  color: #000;
}

.erhvervsliste-kontakt h5 {
  padding: 10px 5px;
}

.erhvervsliste-thumbnail {
  padding: 0px;
  height: 125px;
  background-color: #bf0d04;
  overflow: hidden;
}

.erhvervsliste-thumbnail img {
  height: 100%;
}

.erhvervsliste-adresse, .erhvervsliste-postnrby {
  padding: 0px 5px;
  margin-top: -30px;
}

.erhvervsliste-postnrby {
  
}