/* Opening Hours Block Styles */
.centershop-opening-hours-block {
    margin: 20px 0;
}

.centershop-opening-hours-block > * + * {
    margin-top: 20px;
}

/* Editor styles */
.centershop-opening-hours-editor .components-placeholder {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.centershop-opening-hours-editor .components-placeholder__label {
    display: flex;
    align-items: center;
    justify-content: center;
}
